header {
  font-size: 6vw;
  font-family: "Tomatoes";
  display: flex;
  justify-content: center;
  background: pink;
  color: rgb(105, 39, 39);
  height: 75vh;
  justify-content: center;
  align-items: center;
  position: relative;

  .right-arrow {
    position: absolute;
    bottom: 0;
    right: 5vw;
    font-size: 5vw;
    z-index: 1;
  }
}

@media only screen and (min-width: 600px) {
  header {
    .right-arrow {
      font-size: 3vw;
    }
  }
}
