.home {
  background: rgb(250, 228, 156);
  height: 150vh;
  width:100%;
  .add-new-btn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:5vh;
    padding:5vw 5vw 0 0;
    // padding:3vh 3vh;
   
    .plus-icon{
      // margin:c
      display:flex;
      font-size:2vw;
      color:rgb(105, 39, 39);
    }
  }
  .products-wrapper {
    margin-top:1%;
    font-size: 4vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
a{
  text-decoration:none;
}
    div {
      color:green;
      padding:2vw;
      text-emphasis: none;
      .product-img {
        width: 25vw;
      }
      .product {
        font-size:1.5vw;
        padding:0 0 1vh 0;
        text-decoration: none;
      }
    }
  }
}
