.home {
  background: rgb(250, 228, 156);
  // height: 75vh;
  width:100%;
  .add-new-btn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:10vh;
    padding:0 3vw;
    button{
      // margin:0;
      height:30%;
    }
  }
  .products-wrapper {
    margin-top:5%;
    font-size: 4vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    div {
      color:green;
      padding:2vw;
      .product-img {
        width: 25vw;
      }
      .product {
      }
    }
  }
}
