.home {
  background: rgb(250, 228, 156);
  // height: 75vh;
  width:100%;
  .add-new-btn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:5vh;
    padding:3vh 3vh;
   
    .plus-icon{
      // margin:c
      display:flex;
      font-size:2vw;
      color:rgb(105, 39, 39);
    }
  }
  .products-wrapper {
    margin-top:1%;
    font-size: 4vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    div {
      color:green;
      padding:2vw;
      .product-img {
        width: 25vw;
      }
      .product {
      }
    }
  }
}
